// toppage styles
#toppage
    position relative
#toppage-background
    position absolute
    z-index -1
    top 0
    left 0
    height 100vh
    width 100vw
    background-color green
    // box-sizing: border-box
    // background-image: url("/img/artwork-main.jpg")
    // background-size: cover

#toppage-foreground
    position absolute
    top 0
    left 0
    height 100vh
    width 100vw
    text-align left
    padding-top 60px
    padding-left 20px
    box-sizing: border-box
    a:hover
        // text-decoration: underline
        cursor: pointer
    a
        display block


.outside-stroke
    position relative
    background transparent
    z-index: 0
    color black

// .outside-stroke:before
//     content: attr(text)
//     position absolute
//     left 0
//     z-index: -1
//     -webkit-text-stroke: 15px white



#toppage-heading
    margin-bottom 40px
    
#toppage-heading-home
    margin-bottom 14px
#toppage-heading-klaus
    font-size 27pt
    margin-bottom 14px
#toppage-heading-salmutter
    font-size 27pt


#toppage-main-menu
    font-size 16pt
    margin-bottom 40px

    a
        margin-bottom 14px

#toppage-bottom
    font-size 14pt
    a
        margin-bottom 14px



@media (min-aspect-ratio: 1/1)
    #toppage-background
        height 100vw
        width 100vh
        transform-origin: top right
        transform: rotate(270deg) translateY(-100vh)