//- toppage structure
#toppage
    #toppage-background
    #toppage-foreground
        
        #toppage-heading
            #toppage-heading-home Home
            #toppage-heading-klaus Klaus <br> Salmutter
        
        #toppage-main-menu
            a#toppage-menu-kunst Kunst
            a#toppage-menu-welt Welt
            a#toppage-menu-geschichte Geschichte
        
        #toppage-bottom
            a#toppage-bottom-blog Blog
            a#toppage-bottom-shop Shop
            a#toppage-bottom-kontakt Kontakt