//- toppage structure
#toppage
    #toppage-background
    #toppage-foreground
        
        #toppage-heading
            #toppage-heading-home.outside-stroke(text="HOME") HOME
            #toppage-heading-klaus.outside-stroke(text="KLAUS") KLAUS
            #toppage-heading-salmutter.outside-stroke(text="SALMUTTER") SALMUTTER
        
        #toppage-main-menu
            a#toppage-menu-kunst.outside-stroke(text="Kunst") Kunst
            a#toppage-menu-welt.outside-stroke(text="Welt") Welt
            a#toppage-menu-geschichte.outside-stroke(text="Geschichte") Geschichte
        
        #toppage-bottom
            a#toppage-bottom-blog.outside-stroke(text="Blog") Blog
            a#toppage-bottom-shop.outside-stroke(text="Shop") Shop
            a#toppage-bottom-kontakt.outside-stroke(text="Kontakt") Kontakt