//- footer structure
#footer-top
#footer
    #footer-left
        p Klaus Salmutter
        p Obdacher Strasse 117
        p Künstler
        a#instagram-link(href="https://www.instagram.com/klaussalmutter/"): svg: use(href="#svg-instagram-icon")
    #footer-right
        h2 Check out:
        p: a(href="https://salmutter.shop") Mein Shop
        p: a(href="https://fritzundhans.at") Friz & Hans
        P: a(href="https://soundcloud.com/gonzo-renger") Gonzo