// footer styles
#footer
    padding 80px 40px 30px 40px
    display flex
    justify-content: space-between

#footer-left
    text-align: left
    h2
        margin-bottom 10px
    p 
        margin-bottom 5px
