//- header structure
nav#header
    #header-main
        a(href="/")#home-link.click-button: h1 Salmutterklaus.com
        #menu-burger.click-button: svg: use(href="#svg-burger-icon")
        #menu-cross.click-button: svg: use(href="#svg-cross-icon")
    #header-menu
        a(href="/kunst.html")#kunst-link.click-button:  h1 Kunst 
        a(href="/welt.html")#welt-link.click-button: h1 Welt
        a(href="/geschichte.html")#geschichte-link.click-button: h1 Geschichte