//- header structure
nav#header
    h1#home-link: a(href="/") Salmutterklaus.com
    h1#kunst-link: a(href="/kunst.html") Kunst 
    h1#bus-link: a(href="/welt.html") Welt
    h1#geschichte-link: a(href="/geschichte.html") Geschichte