doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Welt - Klaus Salmutter
        meta(name='description', content='Die Welt ist sein Spielfeld - hier gibt es ein Paar Ausschnitte.')
        link(rel='manifest' href='sample-manifest.json')
        
        link(rel='icon' href='favicon.ico')
        link(rel='apple-touch-icon' sizes='180x180' href='img/sample-icon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        include styles-include.pug
    body
        include ../../source/welt/weltbody.pug
        include scripts-include.pug
